
div {
width:350px;/*ancho de la casilla 100 pixeles*/
    height: 300px;/* alto de la casilla 100 pixeles*/
    font-size: 20px;/*tamaño de la letra 50 pixeles*/
    font-family:sans-serif;/* estilo de letra cursiva*/
    text-align: center;
    color:white;
    margin:auto;
    border:solid black;
    padding: 
        .5px;
   background: black;
}